body {
    background-color: #434959;
    color: white;
}

.content-inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.fa {
    color: #808590;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-primary {
    color: #ffffff;
    margin-bottom: 15px;
}