{% if page.url != '/resume.html' and page.url != '/resume'%}
<div id="footer">
    {% if page.url != '/index.html' and page.url != '/'%}
    <div class="back">
        <a href="{{site.baseurl}}/">Back</a>
    </div>
    <p>
    Copyright ©
    <script type="text/javascript">
        var d = new Date(); 
        document.write(d.getFullYear());
    </script>
    Benjamin Mosior
    </p>
    {% else %}
    <div class="other">
        <a href="{{site.baseurl}}/about.html">About</a>
    </div>
    {% endif %}
    <small>
        <i><a href="http://heiswayi.github.io/the-plain.html">The Plain</a></i> theme by Heiswayi Nrird
    </small>
</div>
{% endif %}