#attribution {
	color: #ffffff;
	font-size: 10px;
}

.content-head {
	margin-top: 1em;
	margin-bottom: 2em;
}
.content-wrapper a, .content-wrapper a:visited {
	color: #34495e;
}

.pure-menu ul a i {
	font-size: 170%;
}

.splash a {
	text-transform: none;
}

.splash-container {
	height: 100%;
	background-size: cover;
	background-image: url('../img/Beach_pano.jpg');
} 

.splash-head {
	background-color: rgba(53,73,94,0.8);
	font-size: 140%;
	line-height:23px;
	text-transform: none;
}
