#attribution {
	color: #ffffff;
	font-size: 8px;
}

.splash a {
	text-transform: none;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 100%;
}

.splash-container {
	height: 100%;
	background-size: cover;
	background-image: url('../img/Beach_pano.jpg');
}

.fa {
	margin-right: 5px;
	margin-left: -5px;
}