#attribution {
	color: #ffffff;
	font-size: 10px;
}

.pure-button {
	padding-top: 0.5em;
	padding-right: 1em;
	padding-left: 1.4em;
}

.splash a {
	text-transform: none;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 100%;
}

.splash-container {
	height: 100%;
	background-size: cover;
	background-image: url('../img/Beach_pano.jpg');
} 

.splash-head {
	background-color: rgba(53,73,94,0.2);
}

.fa {
	margin-right: 5px;
	margin-left: -5px;
}

@media (max-width: 35.5em) {
	.splash {
		height:90%;
	}
}
